fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
qdrant-client
pypdf
python-docx
pytesseract
pillow
opencv-python
moviepy
httpx
openai
google-genai
tiktoken
python-dotenv
psutil
numpy
whisper
google-cloud-documentai
google-cloud-storage
google-cloud-resource-manager
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googlemaps
mcp
